@page "/empresas"

<div>
    <h3 class="mb-2">Empresas</h3>
    <button type="button" class="btn btn-success  mb-5" @onclick="nuevaEmpresa">Agregar Empresa</button>
    @if (isOpen)
    {   <div class="position-absolute" style="z-index:8; min-width:1000px; top:10%; left:25%;">
            <button class="float-right btn btn-danger" @onclick=switchModal style="position:relative; top:-20px; right:20px; z-index:10;">X</button>
            <EmpresasForm Empresa=Empresa Accion=@Accion></EmpresasForm>
        </div>
        <div style="width:100%; height:100%; z-index:7; background-color:black; opacity:.30; left:0px; top:0px; overflow:hidden; position:absolute;" class="p-0"></div>
    }
    <table class="table table-hover">
        <thead class="thead-dark">
            <tr>

                <th>Id</th>
                <th>Nombre Comercial</th>
                <th>Razon Social</th>
                <th>Rfc</th>
                <th>Direccion</th>
                <th>Correo</th>
                <th>Telefono</th>
                <th>Acciones</th>
            </tr>
        </thead>
        <tbody>
            @foreach (var e in listaEmpresas)
            {
                <tr>
                    <td>@e.Id</td>
                    <td>@e.NombreComercial</td>
                    <td>@e.RazonSocial</td>
                    <td>@e.Rfc</td>
                    <td>@e.Direccion</td>
                    <td>@e.Correo</td>
                    <td>@e.Telefono</td>

                    <td>
                        <button type="button" class="btn btn-info" @onclick="() => autoCompletar(e)"><span class="oi oi-pencil" aria-hidden="true"></span></button>
                        <button type="button" class="btn btn-danger" @onclick="() => eliminarEmpresa(e)"><span class="oi oi-x" aria-hidden="true"></span></button>
                    </td>


                </tr>
            }
        </tbody>
    </table>

</div>



